---
import FormButton from "../components/atoms/FormButton.astro"
import Input from "../components/atoms/Input.astro"
import Form from "../components/molecules/Form.vue"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Registro">
  <main>
    <Hero id="singup-form">
      <h1>Registrarse</h1>
      <Form action="/api/auth/singup" method="POST" client:load>
        <Input
          type="text"
          id="firstname"
          name="firstname"
          label="Nombre"
          placeholder="Fernando..."
          required={true}
          minlength={2}
        />
        <Input
          type="text"
          id="lastname"
          name="lastname"
          label="Apellidos"
          placeholder="García Rodríguez..."
          required={true}
          minlength={2}
        />
        <Input
          type="email"
          id="email"
          name="email"
          label="Correo electrónico"
          placeholder="fernando@gmail.com"
          required={true}
        />
        <Input
          type="text"
          id="username"
          name="username"
          label="Nombre de usuario"
          placeholder="fer07"
          required={true}
        />
        <Input
          type="password"
          id="password"
          name="password"
          label="Contraseña"
          placeholder="********"
          required={true}
        />
        <FormButton
          type="submit"
          color="var(--white)"
          bgColor="var(--dark-spring-green)"
          bgColorHover="var(--dark-spring-green-light)"
        >
          Registrarse
        </FormButton>
      </Form>
    </Hero>
  </main>
</Layout>
