---
import { db, User, eq } from "astro:db"
import FormButton from "../components/atoms/FormButton.astro"
import Input from "../components/atoms/Input.astro"
import Form from "../components/molecules/Form.astro"
import Hero from "../components/organisms/Hero.astro"
import Layout from "../layouts/Layout.astro"
import { Argon2id } from "oslo/password"
import RedFormButton from "../components/atoms/RedFormButton.astro"

// Almacenamos el usuario de la sesión actual
const user = Astro.locals.user

// En caso de no existir usuario autenticado, redireccionamos a la página de registro
if (!user) {
  return Astro.redirect("/singup")
}

// Obtenemos datos del usuario
const userData = (await db.select().from(User).where(eq(User.id, user.id))).at(
  0
)
---

<Layout title="Registro">
  <main>
    <Hero id="singup-form">
      <h1 class="display">Editar perfil</h1>
      <Form action="/api/edituser" method="POST">
        <Input
          type="text"
          id="firstname"
          name="firstname"
          label="Nombre"
          value={userData?.firstName}
          required={true}
          minlength={2}
        />
        <Input
          type="text"
          id="lastname"
          name="lastname"
          label="Apellidos"
          value={userData?.lastName}
          required={true}
          minlength={2}
        />
        <Input
          type="email"
          id="email"
          name="email"
          label="Correo electrónico"
          value={userData?.email}
          required={true}
        />
        <Input
          type="text"
          id="username"
          name="username"
          label="Nombre de usuario"
          value={userData?.username}
          required={true}
        />

        <Input
          type="password"
          id="password"
          name="password"
          label="Contraseña *"
          placeholder="*******"
          required={true}
        />
        <p class="caption">
          * Introduce tu nueva contraseña o la contraseña actual si no quieres
          cambiarla.
        </p>
        <FormButton type="submit">Editar perfil</FormButton>
      </Form>
      <Form action="/api/singout" method="post">
        <RedFormButton type="submit">Cerrar sesión</RedFormButton>
      </Form>
    </Hero>
  </main>
</Layout>
